<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.haumacher.msgbuf.builder"
         name="MsgBuf Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.haumacher.msgbuf.eclipse.builder.MsgBufBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="de.haumacher.msgbuf.nature"
         name="MsgBuf Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.haumacher.msgbuf.eclipse.builder.MsgBufNature">
         </run>
      </runtime>
      <builder 
      	id="de.haumacher.msgbuf.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.haumacher.msgbuf.eclipse.nature.category"
            name="MsgBuf Nature commands">
      </category>
      <command
            categoryId="de.haumacher.msgbuf.eclipse.nature.category"
            defaultHandler="de.haumacher.msgbuf.eclipse.builder.AddRemoveMsgBufNatureHandler"
            description="Adds/removes the MsgBuf project builder that automatically translates *.proto files when created or changed in an editor."
            id="de.haumacher.msgbuf.eclipse.addRemoveMsgBufNature"
            name="Toggle MsgBuf Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.haumacher.msgbuf.eclipse.addRemoveMsgBufNature"
               label="Disable MsgBuf builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.haumacher.msgbuf.nature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="de.haumacher.msgbuf.eclipse.addRemoveMsgBufNature"
               label="Enable MsgBuf builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.haumacher.msgbuf.nature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="de.haumacher.msgbuf.eclipse.parseProblem"
         name="MsgBuf Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
